body{
    background: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.main{
    background-color: rgb(1, 7, 14);
    text-align: right;
    padding: 10px;
    
}
.nav li {
    display: inline-block;
    font-style: italic;
    text-shadow: 10px  darkgrey;
    font-size: 30px;
} 